.main {
  background-image: url(./images/fon.jpeg);
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Varela Round', sans-serif;
}

.header-conteiner {
  background-image: url(./images/font-header22.png);
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.page-conteiner {
  width: 100%;
  height: 950px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.info-card {
  width: 90%;
  height: 90%;
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  background-image: url(./images/ava.jpeg);
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-name {
  font-size: 50px;
}

.profile-location-icon {
  background-image: url(./images/map-pin.svg);
  width: 40px;
  height: 40px;
}

.location {
  font-size: 25px;
}

.profile-bio {
  font-size: 20px;
  margin-top: 60px;
}

.uversity-section{
  margin-top: 60px;
}

.graduation-icon {
  background-image: url(./images/graduat.jpeg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.graduation-uni {
  font-size: 20px;
}

.footer-conteiner {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.instagram {
  color: black;
}

a.github {
  color: black;
}

a.whatsapp {
  color: green;
}

a.google {
  color: #C20806;
}

a.stackoverflow {
  color: orange;
}